/*
mrotherguys resource helped me bring the sidebar to the top of the screen,
BUT DAMN it was tough making it an absolute floater, it was breaking the positioning
of the main window view, trying to push around the nav bar with margins.

this is stable now, but to anyone using this theme.. if you encounter an issue with screen positioning in the future.. its probably this, you can delete [ findbar.css ] and nothing else will be affected.

sizing of the browser window at the bottom
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

findbar{
order: -1 !important; margin-bottom: -60px !important;
position: relative !important;
border-top: none !important; padding: 0 !important;
transition: transform 82ms linear, opacity 82ms linear 32ms !important;
background: none !important; pointer-events: none !important;
z-index: 1 !important; white-space: nowrap !important;
top: 20px !important; width: 50% !important; left: 25vw !important;transform: scale(1.3);}
input:is([class="findbar-textbox"]) {width: 11em !important}

findbar > .findbar-container {margin-inline: 0px !important;height: 100px; min-height: 60px !important;
border-top-right-radius: 7px !important; border-top-right-radius: 7px !important;}

.findbar-container > .findbar-find-fast{padding: var(--toolbarbutton-inner-padding) 1px; margin: 0 !important;}
findbar[hidden]{ transform: translateY(-30px);}

findbar > .findbar-container,
findbar > .close-icon{
border: 1px solid var(--chrome-content-separator-color);
border-width: 0 0 1px 0px; background-color: var(--lwt-accent-color) !important;
background-image: linear-gradient(var(--toolbar-bgcolor),var(--toolbar-bgcolor)),var(--lwt-header-image,none);
pointer-events: auto; }

toolbarbutton:is([class="findbar-closebutton tabbable close-icon"])
{border-bottom-left-radius: 7px !important; border-top-left-radius: 7px !important;}

findbar > .findbar-container{
border-bottom-right-radius: 4px; border-right-width: 1px;
height: initial !important; margin-inline: 0px !important;
overflow-inline: visible !important;}

.findbar-find-status{
display: flex;overflow: hidden;
text-overflow: ellipsis;flex-grow: 1;}
 
.findbar-closebutton{
margin: 0 !important;border-radius: 0 !important;padding: 5px !important;width: initial !important;order: -1;}
.findbar-closebutton > image{ padding: 3px }
.findbar-closebutton:hover > image{
background: var(--toolbarbutton-hover-background) !important;border-radius: 4px}
findbar > .findbar-container > hbox{ margin: 0 5px }
 
findbar::after{content:"";display: flex;flex-grow: 100;} 

@media (-moz-bool-pref: "userchrome.floating-findbar-on-right.enabled"){
findbar{
flex-direction: row-reverse;
  }
  findbar > .findbar-container{
    flex-direction: row-reverse;
    border-inline-width: 1px 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
  }
  /*
  Move findbar so it isn't over the scrollbar
  Delete if you want findbar to begin from right window edge
  */
  findbar{
    margin-right: 16px;
    border-right: 1px solid var(--chrome-content-separator-color);
  }
}

@supports -moz-bool-pref("userchrome.floating-findbar-on-right.enabled"){
  findbar{
    flex-direction: row-reverse;
  }
  findbar > .findbar-container{
    flex-direction: row-reverse;
    border-inline-width: 1px 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px;
  }
  /*
  Move findbar so it isn't over the scrollbar
  Delete if you want findbar to begin from right window edge
  */
  findbar{
    margin-right: 16px;
    border-right: 1px solid var(--chrome-content-separator-color);
  }
}

/* <--- fix the sizing when browser window size lowers */

@media (max-width:1400px) {

findbar

checkbox[anonid="find-match-diacritics"],
checkbox[anonid="find-entire-word"]
{display: none !important;}

toolbarbutton[anonid="find-next"],
toolbarbutton[anonid="find-previous"]
{padding:1px !important;}

} /*<--- close out sizing attribute */

@media (max-width:1000px) {

findbar
{transform: scale(0.8) !important;
width: 90vw !important; left: 1vw !important;}

checkbox[anonid="highlight"],
checkbox[anonid="find-case-sensitive"],
checkbox[anonid="find-match-diacritics"],
checkbox[anonid="find-entire-word"]
{display: none !important;}

toolbarbutton[anonid="find-next"],
toolbarbutton[anonid="find-previous"]
{padding:1px !important;}

} /*<--- close out sizing attribute */

