/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
SOME MENU ICON REPLACEMENTS
I made icons myself
very minimal, made to blend in with default release buttons
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#fullscreen-button {list-style-image: url("fullscreen.png") !important;}

#nav-bar-overflow-button {list-style-image: url("menu.png") !important;}

#new-window-button {list-style-image: url("newwindow.png") !important;}

#unified-extensions-button {list-style-image: url("extensions.png") !important;}
  
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
EXTENSIONS
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*SIDEBERY*/
#_3c078156-979c-498b-8990-85f7987dd929_-BAP-browser-action {
list-style-image: url("extra.png") !important;} 

/*SIDEBERY WORKING*/
#_3c078156-979c-498b-8990-85f7987dd929_-BAP image{
list-style-image: url("sb.png") !important;}

#ublock0_raymondhill_net-BAP image{
list-style-image: url("ubon.png") !important;}

#ublock0_raymondhill_net-BAP[tooltiptext="uBlock Origin (off)"] image{
list-style-image: url("uboff.png") !important;}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
DownloadHelper
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#_b9db16a4-6edc-47ec-a1f4-b86292ed211d_-BAP image{
list-style-image: url("dhon.png") !important;}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
MINIMIZE
CLOSE
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#minimize_dhanush_com-BAP image{
  list-style-image: url("min.png") !important;}
  
#close_dhanush_com-BAP image{
  list-style-image: url("close.png") !important;}
  
#_c5cca7ac-6287-4706-b3a1-b91e9dc4932e_-BAP image{
  list-style-image: url("close.png") !important;}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
SO I CAN PLACE UBLOCK (or reload page button) IN URL BAR
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/privatemode_indicator_as_menu_button.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

#urlbar{
  padding-inline-end: calc(17px + 2 * var(--urlbar-icon-padding));
}
#urlbar-container+.chromeclass-toolbar-additional{
  margin-inline-start: calc(0px - 19px - 2 * var(--urlbar-icon-padding) - var(--urlbar-margin-inline)) !important;
  position: relative;
  --toolbarbutton-inner-padding: var(--urlbar-icon-padding);
  --toolbarbutton-hover-background: var(--urlbar-box-hover-bgcolor);
}