/*================== CAPTION BUTTONS ==================*/

/*-min max close */

.titlebar-button>.toolbarbutton-icon {
	height: 16px !important;
	min-height: 16px !important;
	width: 16px !important;
	min-width: 16px !important;
}

.titlebar-button {
	padding-left: 10px !important;
	padding-right: 10px !important;

}

.titlebar-buttonbox-container {
	-moz-appearance: none !important;
	/*margin-left: 21px !important;*/
	margin-right: 5px !important; /*right side with bookmark toolbar*/
	/*margin-top: -32px !important; remove if using right side with bookmark toolbar*/
	/*left: 1px !important;  left side before search box*/
	padding-top: -1px !important;
}
/* reverse button order
.titlebar-buttonbox-container{ direction: rtl;}
*/
.titlebar-min {
	list-style-image: url("KnobOrange.ico") !important;
	background-color: none !important;
}

.titlebar-min:hover {
	list-style-image: url("KnobRemove.ico") !important;
	background-color: transparent !important;
	transition: all 0.3s ease !important;
	filter: drop-shadow(0px 0px 2px white) !important;
}

.titlebar-restore {
	list-style-image: url("KnobGreen.ico") !important;
	background-color: none !important;
}

.titlebar-restore:hover {
	list-style-image: url("KnobAdd.ico") !important;
	background-color: transparent !important;
	transition: all 0.3s ease !important;
	filter: drop-shadow(0px 0px 2px white) !important;
}

.titlebar-max {
	list-style-image: url("KnobGreen.ico") !important;
	background-color: none !important;
}

.titlebar-max:hover {
	list-style-image: url("KnobAdd.ico") !important;
	background-color: transparent !important;
	transition: all 0.3s ease !important;
	filter: drop-shadow(0px 0px 2px white) !important;
}

.titlebar-close {
	list-style-image: url("KnobRed.ico") !important;
	background-color: none !important;
}

.titlebar-close:hover {
	list-style-image: url("KnobCancel.ico") !important;
	background-color: transparent !important;
	transition: all 0.3s ease !important;
	filter: drop-shadow(0px 0px 2px white) !important;
}
