/*
ATTEMPT 1 - STYLING WEBPAGES THROUGH USERCONTENT
youtube logo, reddit background, PIP button displayed on videos is smaller
*/

@-moz-document domain(reddit.com) {
._31N0dvxfpsO6Ur5AKx4O5d,
._3ozFtOe6WpJEMUtxDOIvtU,
._1gVVmSnHZpkUgVShsn7-ua {
background-attachment: fixed;
background-image: url("https://i.imgur.com/JrcxxQ8.gif") !important; /*black space*/
background-size: cover !important;}
}
                                      /*make PIP button smaller on all videos*/
.pip-wrapper {
   transform: scale(0.7);}
/* scroll bar color */
* {
  scrollbar-width: auto !important;
  scrollbar-color: #faf14d #f0f0f000 !important;
}

@-moz-document domain("youtube.com") {
yt-icon.ytd-topbar-logo-renderer,
yt-icon.ytd-logo {
fill-opacity: 0;
background: url(chrome/yt.png) center center/100% no-repeat !important;
max-width: 100%;
max-height: 100px;
position: relative !important;}
  
/*YT*/
/*seekbar color*/
.ytp-swatch-background-color { background-color: #fffd80 !important; }

/* notifications badge color now yellow */
.yt-spec-icon-badge-shape--type-notification .yt-spec-icon-badge-shape__badge {
background-color: #fffd80 !important; color: #2b2b2b !important;}
.yt-spec-icon-badge-shape--style-overlay .yt-spec-icon-badge-shape__badge {
border: 0px solid rgba(0,0,0,0.8) !important;}

/* Button that shows video is live under thumbnail is now cyan blue */
.badge-style-type-live-now-alternate.ytd-badge-supported-renderer {
background: rgba(92, 198, 223, 0.9) !important;
color: var(--yt-spec-static-brand-white) !important;}
  
/*logo*/
yt-icon.ytd-topbar-logo-renderer,
yt-icon.ytd-logo {
fill-opacity: 0;
background: url(chrome/yt.png) center center/100% no-repeat !important;
max-width: 100%;
max-height: 100px;
position: relative !important;}
  
} /* <---- dont delete this closes out youtube customization */






