/*
ATTEMPT 1 - STYLING WEBPAGES THROUGH USERCONTENT
youtube logo, reddit background, PIP button displayed on videos is smaller
*/

@-moz-document domain("youtube.com") {
yt-icon.ytd-topbar-logo-renderer,
yt-icon.ytd-logo {
fill-opacity: 0;
background: url(chrome/yt.png) center center/100% no-repeat !important;
max-width: 100%; max-height: 100px;
position: relative !important;}	
}

@-moz-document domain("rumble.com") {
.header-logo {
content:url(chrome/rumb2.png);}
}

@-moz-document domain(reddit.com) {
._31N0dvxfpsO6Ur5AKx4O5d,
._3ozFtOe6WpJEMUtxDOIvtU,
._1gVVmSnHZpkUgVShsn7-ua {
background-attachment: fixed;
background-image: url("https://i.imgur.com/JrcxxQ8.gif") !important; /*black space*/
background-size: cover !important;}
}

                                      /*make PIP button smaller on all videos*/
.pip-wrapper {
   transform: scale(0.7);}

@-moz-document domain("aniwave.to") {

/*vidplay and my cloud*/
.jw-slider-horizontal.jw-chapter-slider-time .jw-slider-container .jw-timesegment-progress {
background-color: #ffe450 !important;}
.jw-slider-container .jw-slider-skip {
background: #9535f4 !important;
opacity: 1 !important;}
.jw-knob {background-color: #ffe300 !important;}
.jw-icon-rewind {display:none; !important;}
.jw-controlbar {display: none !important;}

/*mp4upload*/
.video-js .vjs-progress-control .vjs-play-progress {
background-color: #1912DF !important;}
.vjs-rewind-control {display:none !important;}
.vjs-forward-control {display:none !important;}
.video-js .vjs-control-bar { background-color: rgba(0,0,0,0.3); !important;}

/*fix background colors*/
#w-player #w-servers .tip {
background: #0e0e0e; !important;}
#w-info .brating .rating .stars span.full i::before {
color: #00cfff !important;}
.bsharing {
  background: #0e0e0e !important;}

}









